html {
  background: url("https://cloud.githubusercontent.com/assets/9518991/5728298/3d3015c4-9b37-11e4-9ef1-b2f096203563.png");
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

.title {
  background-color: #C62828;
  text-align: center;
  padding-bottom: 18px;
  padding-top: 18px;
}

.title h1 {
  color: #fff;
  font-size: 3.5em;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
  background-color: #F44336;
}

.content {
  margin-top: 50px;
  height: 500px;
  text-align: center;
}

.content img {
  padding-top: 45px;
}

meter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 55px;
  width: 350px;
  border: 2px solid #424242;
  border-radius: 1px;
}

meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2) inset;
    border-radius: 2px;
}

meter::-webkit-meter-optimum-value {
    background: #43A047; /* Green */
    border-radius: 2px;
}

meter::-webkit-meter-suboptimum-value {
    background: #FDD835; /* Yellow */
    border-radius: 2px;
}

meter::-webkit-meter-even-less-good-value {
    background: #E53935; /* Red */
    border-radius: 2px;
}

.idn {
  font-size: 1.4em;
}
