html {
  background: url("https://cloud.githubusercontent.com/assets/9518991/5728298/3d3015c4-9b37-11e4-9ef1-b2f096203563.png");
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  background-color: #B0BEC5;
  text-align: center;
  padding-bottom: 9px;
}

.title h1 {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 50px;
  height: 500px;
  text-align: center;
}

.content img {
  padding-top: 45px;
}

meter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 55px;
  width: 350px;
}

meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
    border-radius: 3px;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
    border-radius: 3px;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
    border-radius: 3px;
}

.idn {
  font-size: 1.4em;
}
