/* font-family: 'Ubuntu', sans-serif; 
    font-family: 'Open Sans', sans-serif; */

nav p {
  width: 200px;
  float: left;
  background-color: red;
}

nav a {
    width: 35px;
    height: 25px;
    background-color: blue;
}
